.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  min-width: 500px;
}

.full-width {
  width: 100%;
}

.date-container {
  display: flex;
  gap: 16px;
  
  mat-form-field {
    flex: 1;
  }
}

.date-range-error {
  margin-top: -12px;
  margin-bottom: 12px;
  font-size: 12px;
}

mat-dialog-actions {
  padding: 16px 0;
  gap: 8px;
}

textarea {
  min-height: 100px;
}