<div class="user-list-container">
  <div class="header">
    <h1>Usuários</h1>
    <button mat-raised-button color="primary" (click)="openUserDialog()">
      <mat-icon>add</mat-icon>
      Novo Usuário
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar Usuários..." #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Função </th>
        <td mat-cell *matCellDef="let user">
          <mat-chip [color]="user.role === 'Admin' ? 'accent' : 'primary'" selected>
            {{user.role}}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let user">
          <mat-chip [color]="user.active ? 'accent' : 'warn'" selected>
            {{user.active ? 'Ativo' : 'Inativo'}}
          </mat-chip>
        </td>
      </ng-container>   

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="accent" (click)="openUserDialog(user)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)" matTooltip="Excluir">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Selecionar página">
    </mat-paginator>
  </div>
</div>