
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
  
  mat-nav-list {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      
      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

.content {
  padding: 20px;
}